conda create -n hand-gesture
conda activate hand-gesture
conda install -c anaconda scikit-learn joblib ipykernel
conda install -c conda-forge notebook pandas pynput
pip install pygame gTTS mediapipe opencv-python


